<div ng-controller="WhatWeDoController" class="other-controller">
  <div class="what-we-do-wrapper">
    <div class="row what-we-do-category-row">
      <div class="col-md-3">
        <div class="what-we-do-category-icon-paint"></div>
      </div>
      <div class="col-md-9 what-we-do-category-description">
        <p>You give us an idea of what you want your app to look like and we come back with full fledged designs.</p>
      </div>
    </div>
  </div>
  <div class="what-we-do-wrapper">
    <div class="row what-we-do-category-row">
      <div class="col-md-3">
        <div class="what-we-do-category-icon-web"></div>
      </div>
      <div class="col-md-9 what-we-do-category-description">
        <p>We take care of choosing the web framework to develop the code.</p>
      </div>
    </div>
  </div>
  <div class="what-we-do-wrapper">
    <div class="row what-we-do-category-row">
      <div class="col-md-3">
        <div class="what-we-do-category-icon-database"></div>
      </div>
      <div class="col-md-9 what-we-do-category-description">
        <p>Whether it's keeping track of user data or company data, any web applications that requires tracking of data we can develop.</p>
      </div>
    </div>
  </div>
  <div class="what-we-do-wrapper">
    <div class="row what-we-do-category-row">
      <div class="col-md-3">
        <div class="what-we-do-category-icon-deploy"></div>
      </div>
      <div class="col-md-9 what-we-do-category-description">
        <p>Getting a web application up and running on the internet can be difficult. Transparent Web Apps offers help in deploying your web application and making it public to the outside world.</p>
      </div>
    </div>
  </div>
</div>